.joinChatContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  height: 100vh;
}

.homeTitle {
  font-size: 3rem;
}

.groupField {
  display: flex;
  background: #f1f0f0;
  padding: .5rem;
  border-radius: 10px;
  transition: .3s ease-in-out;
  cursor: pointer;
  margin: 1rem 0;
}

.groupField:hover{
  background: #e9e7e7
}

.nameField {
  background: transparent;
  border: none;
  margin-left: 10px;
  outline: none;
  font-size: 1.2rem;
  color: #03376b;
  font-weight: 600;
  width: 15rem;
}

.roomField {
  background: transparent;
  border: none;
  margin-left: 10px;
  outline: none;
  font-size: 1.2rem;
  color: #035335;
  font-weight: 600;
  width: 15rem;
}

.joinButton {
  display: flex;
  align-items: center;
  background: #f1f0f0;
  color: rgb(4, 53, 56);
  padding: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  transition: .3s ease-in-out;
  cursor: pointer;
  margin: 1rem 0;
  border-color: rgb(243, 83, 115);
}